/* quiz.component.css */

.quiz-container {
    margin: auto;
    text-align: center;
  }

  .container {
    max-width: 1280px;
}

.main{
  background-color: #fff;
  border-radius: 10px;
  min-height: 600px;
  margin-top: 1%;
  padding: 2%;
}
  
  .image-container {
    margin-bottom: 20px;
  }

  /* .imgheight:hover  {
    transform: scale(1.5); 
  } */

  
.imgheight{
  height:250px;
  max-width: 100%;
  transition: transform 0.5s ease-out; 
  border-radius: 4px;
  padding-top:30px;
  cursor: zoom-in;
}

  @media screen and (max-width: 768px) {
    .image-container img {
      height: auto;
      max-width: 100%;
    }
  }

  .question-container{
    padding-top: 15px;
  }
  
  .question-container,
  .result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 400;
    width: 240px;
    line-height: 2.0;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    :focus{
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
  }

  .result-message {
    margin-top: 15px;
    font-weight: bold;
    color: green; 
    font-size: larger;
  }

  .messageres{
    margin-top: 3px;
    font-weight: bold;
    color: green;
    font-size: small;
  }
  
  .dropdownpnl{
    padding: 4px 25px;
    font-size: 23px;
    font-weight: 400;
    line-height: 2;
    margin-left: 20px;
    color: #212529;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }

  .btn-green{
    --bs-btn-hover-bg:#034124;
    --bs-btn-hover-border-color:#034124;
    --bs-btn-active-bg:#034124;
    margin: 0 20px;
    padding-inline: 61px;
  }

  .btn-red{
    --bs-btn-hover-bg:#6a0711;
    --bs-btn-hover-border-color:#6a0711;
    --bs-btn-active-bg:#6a0711;
    margin: 0 20px;
    padding-inline: 61px;
  }

.download-button {
  align-items: center;
  appearance: none;
  background-color:#004785 ;
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 12px 22px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: 230px;
  margin-left: 30px;
  margin-right: 30px;
}

.download-button:active,
.download-button:focus {
  outline: none;
}

.download-button:hover {
  background-position: -20px -20px;
}

.download-button:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.dollars{
  margin-bottom: 0; 
  margin-top: 6px; 
  margin-right: 14px; 
  font-size: xx-large; 
  margin-left: 14px;
}

.qbuttons{
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.resmesg{
  font-size:x-large;
  color: green;
}

.hstyle{
  font-size: x-large;
  font-weight: 700;
}

.ml2{
  margin-left: 10px;
}

.mr2{
  margin-right: 10px;
}

.ibhead{
  font-size: 20px;
  font-weight: 600;
  color: white;
  /* // margin-left: -10%; */
}

.HeadContainer{
  background-color: transparent;
}

.header{
  width: 100%;
  background-color: #004785;
  padding: 12px;
  border-radius: 10px;
  margin-top: -60px;
  text-align: center;
}

.rtbImg{
  width: 90px;
  height: 70px;
  margin-left: 2%;
  border-radius: 5px;
}

.firstp{
  width: 230px;
}

@media (max-width: 767px) {
  .rtbImg{
    width: 62px;
    height: 55px;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
  }

  .navigation-button{
    margin-left: 7px;
    margin-right: 7px;
  }

  .ibhead{
    font-size: 16px;
  }

  .header{
    margin-left: 2%;
  }

  .firstp{
    width: 0px;
  }

  .dstyle{
    margin-left: 0px;
    margin-right: 22px;
  }

  input{
    font-size: 17px;
    width: 251px;
  }

  .dropdownpnl{
    font-size: 14px;
  }

  .navigation-button{
    padding: 12px 6px;
  }
}


/* jndskjvnkdsnfks */

.qtext{
  font-size:large;
}

.Questionshow{
  font-family: "Source Serif Pro", "Source Sans Pro", _fb_;
  font-size: 22px;
  font-weight: 600;
  color: #004785;
  transform: rotate(0deg);
  opacity: 1;
  line-height: 1.42857;
  overflow-wrap: break-word;
}

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  color: white;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;

}

.stepper-item.active .step-counter {
  background-color: rgba(0, 71, 133);
  width: 45px;
  height: 45px;

}

.stepper-item.completed .step-counter {
  background-color: rgb(2, 101, 188);
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid rgba(0, 71, 133);
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}

#chart {
  padding: 0;
  max-width: 650px;
}


/* dsfasdfsdfswdafsd */

#arrow {
  -webkit-transition: border 0.2s linear;
  -moz-transition: border 0.2s linear;
  -ms-transition: border 0.2s linear;
  -o-transition: border 0.2s linear;
  transition: border 0.2s linear;

  text-decoration: none;
  line-height: 0;
  margin-top: -100px;
  font-size: 40px;
  position: absolute;
  height: 0;
  /* right: 0;
  top: 50%; */
  right: 232px;
    top: 60%;

  border-bottom: 100px solid transparent;
  border-top: 100px solid transparent;
  /* border-right: 150px solid #004785; */
  border-right: 150px solid rgba(0, 71, 133);
}

#arrow span {
  -webkit-transition: margin 0.1s linear;
  -moz-transition: margin 0.1s linear;
  -ms-transition: margin 0.1s linear;
  -o-transition: margin 0.1s linear;
  transition: margin 0.1s linear;

  font-family: "Open Sans", "Courier New", Courier, monospace;
  line-height: 0;
  margin-left: 65px;
  margin-top: -1px;
  position: absolute;
  display: block;
  color: white;
  height: 0;
}

#arrow:hover {
  border-right-color: #333;
}

#arrow:hover span {
  margin-left: 75px;
}

/* dsfdf */

#back-button {
  -webkit-transition: border 0.2s linear, transform 0.2s linear;
  -moz-transition: border 0.2s linear, transform 0.2s linear;
  -ms-transition: border 0.2s linear, transform 0.2s linear;
  -o-transition: border 0.2s linear, transform 0.2s linear;
  transition: border 0.2s linear, transform 0.2s linear;

  text-decoration: none;
  line-height: 0;
  margin-top: -100px;
  font-size: 40px;
  position: absolute;
  height: 0;
  /* left: 0;
  top: 50%; */
  left: 232px;
    top: 60%;

  border-bottom: 100px solid transparent;
  border-top: 100px solid transparent;
  border-left:  150px solid rgba(0, 71, 133);

}

#back-button span {
  -webkit-transition: margin 0.1s linear;
  -moz-transition: margin 0.1s linear;
  -ms-transition: margin 0.1s linear;
  -o-transition: margin 0.1s linear;
  transition: margin 0.1s linear;

  font-family: "Open Sans", "Courier New", Courier, monospace;
  line-height: 0;
  margin-left: -110px;
  margin-top: -1px;
  position: absolute;
  display: block;
  color: white;
  height: 0;
}

#back-button:hover {
  border-left-color: #333;
}

#back-button:hover span {
  margin-right: 75px;
}


/* sdfdsfsdfsdf */

.result-circles {
  display: flex;
  justify-content: space-between;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

/* bgshgsvhgsbhs */

.blurred {
  filter: blur(5px);
}

.enlarged {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.enlarged img {
  max-width: 150%; /* Adjust the size as needed */
  max-height: 150%;
  border-radius: 5px;
}

.close-button {
  /* position: absolute; */
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  align-self: baseline;
  margin-top: 30px;
}

/* currency */

.currency-wrap{
  position:relative;
}

.currency-code{
  position: absolute;
  left: 8px;
  top: 6px;
  font-size: 23px;
}

.text-currency{
  padding: 1px 25px;
  border: solid 1px #ccc;
  border-radius: 5px;
  font-size: 18px;
}

/* CSS */
.button-58 {
  align-items: center;
  background-color: #004785;
  border: 2px solid #004785;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-variant: all-small-caps;
  font-size: 23px;
  font-weight: 400;
  height: 40px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 4px;
}

.button-58:focus {
  color: white;
}

.button-58:hover {
  background-color: #003869;
  border-color: #003869;
  fill: #003869;
}

.button-58:active {
  background-color: #003869;
  border-color: #003869;
  fill: #003869;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}